body {
    margin: 0;
    background-color: #F0EDE5;
}

h1{
    box-sizing: border-box;
    font-size: 48px;
    height: 10vh;
    margin: 0;
    padding: 14px;
    border-bottom: 1px solid gray;
    text-align: left;
}

#cm {
    display: grid;
    grid-template-columns: 250px 1fr;
}

#character {
    box-sizing: border-box;
    padding: 10px;
    padding-top: 20px;
    width: 13vw;
    height: 90vh;
    border-right: 1px solid gray;
}

#hutao, #keqing, #gamyu, #raiden {
    box-sizing: border-box;
    width: 240px;
    font-size: 20px;
}

#hutao:hover, #keqing:hover, #gamyu:hover, #raiden:hover {
    cursor: pointer;
}

span {
    position: relative;
    bottom: 20px;
    left: 10px;
}

#rit {
    box-sizing: border-box;
    height: 90vh;
}

.liimg {
    width: 60px;
    height: 60px;
    border-radius: 40px;
}

#te {
    display: flex;
    justify-content: center;
}

#message {
    display: flex;
    height: 83vh;
    width: 85vw;
    flex-direction: column;
    align-items: center;
    
}

h2 {
    display: flex;
    height: 100px;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#전송 {
    position: relative;
    bottom: 20px;
    height: 40px;
    width: 40px;
}

textarea {
    height: 40px;
    width: 700px;
    font-size: 20px;
}

.chat {
    background-color: white;
    height: 70vh;
    width: 40vw

}

#hutao_hide, #keqing_hide, #gamyu_hide, #raiden_hide {
    display: none;
} 

#채팅1 {
    width: 100px;
    height: 50px;
    background-color: #C6D4E1;
}
#채팅2 {
    width: 100px;
    height: 50px;
    background-color: #F4C8AA;
}

.msg {
    display: flex;
    height: 60px;
    justify-content: flex-end;
    flex-wrap: wrap;
}

#myimg {
    position: relative;
    left: 10px;
    height: 30px;
    width: 30px;
    border-radius: 10px;
}

#myname {
    position: relative;
    left: 20px;
    font-size: 20px;
    height: 30px;
}

#mytext {
    display: flex;
    position: relative;
    top: 30px;
    height: 30px;
    align-items: flex-end;
    background-color: yellow;
}